---
layout: default
---

<div class="nav-tabs">
  {% for tab in site.navigation %}
  <a class="tab" href="{{ tab.url | relative_url }}">{{ tab.name }}</a>
  {% endfor %}
</div>

<div class="separator"></div>

<div class="post-container">
  <small>{{ page.date | date: "%-d %B %Y" }}</small>
  <h1>{{ page.title }}</h1>

  <!-- <p class="view">by {{ page.author | default: site.author }}</p> -->

<!--  {% if page.tags %}-->
<!--  <div class="tag-container">-->
<!--    <medium>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></medium>-->
<!--  </div>-->
<!--  {% endif %}-->

  <h3></h3>
  <div class="content">{{ content }}</div>
</div>
