---
layout: page
# All the Tags of posts.
---

<div id="tags" class="d-flex flex-wrap mx-xl-2">
  {% assign tags = '' | split: '' %}
  {% for t in site.tags %}
    {% assign tags = tags | push: t[0] %}
  {% endfor %}

  {% assign sorted_tags = tags | sort_natural %}

  {% for t in sorted_tags %}
    {% assign filtered_posts = '' | split: '' %}
      {% for post in site.tags[t] %}
        {% if post.hidden != true %}
          {% assign filtered_posts = filtered_posts | push: post %}
         {% endif %}
  {% endfor %}

  {% if filtered_posts.size > 0 %}
  <div>
    <a class="tag" href="{{ t | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">
      {{ t -}}
      <span class="text-muted">{{ filtered_posts.size }}</span>
    </a>
  </div>
  {% endif %}
  {% endfor %}

</div>
